main {
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url("/images/background/Optimized/alberta-g4f7f39df0_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 50px;
}

.page-header_txt {
  margin-bottom: 2%;
}

.about-us_box {
  background: rgba(0, 0, 0, 0.9);
  padding: 0px 20px;
  max-width: 55%;
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 1.2em;
}

.about-us_box p {
  padding: 15px 20px;
}

span {
  text-decoration: underline;
}
