h1 {
  font-size: 4vw;
  font-family: var(--header-font);
  margin-left: 7%;
}

.container-wrapper {
  margin-top: 6%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  width: 96%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-content_box {
  font-family: var(--main-font);
  width: 42%;
  margin-bottom: 5%;
  border-radius: 5px;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
}

.post-content_box:hover {
  background: var(--page-color);
}

.post-content_box a {
  text-decoration: none;
}

.post-content_box h2,
p {
  margin-left: 5%;
  margin-bottom: 0;
}

.post-content_box h2 {
  font-size: 1.7vw;
  width: 91.5%;
}

.post-content_box p {
  max-width: 90%;
  padding-bottom: 50px;
  font-size: 1.1vw;
}

.post-img_box {
  width: 90%;
  margin: 0 auto;
}

.post-img {
  width: 100%;
  border: solid 2px var(--border-color);
}

/* hide element */
.hide-element {
  display: none;
}

@media only screen and (max-width: 1158px) {
  h1 {
    font-size: 4.8vw;
  }

  .post-container {
    width: 100%;
  }

  .post-content_box {
    width: 85%;
  }

  .post-content_box h2 {
    font-size: 2.8vw;
  }

  .post-content_box p {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 5.7vw;
  }

  .post-content_box h2 {
    font-size: 1.3em;
  }

  .post-content_box p {
    font-size: 1.1em;
  }
}
