.container-wrapper {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-content_box {
  font-family: var(--main-font);
  font-size: 1.6em;
  width: 42%;
  margin-bottom: 5%;
  background: black;
}

.post-content_box a {
  text-decoration: none;
}

.post-content_box h2,
p {
  margin-left: 5%;
  margin-bottom: 0;
}

.post-content_box h2 {
  font-size: 1.8em;
}

.post-content_box p {
  max-width: 90%;
  padding-bottom: 50px;
}

.post-img_box {
  width: 90%;
  margin: 0 auto;
}

.post-img {
  width: 100%;
  border: solid 5px var(--border-color);
}

@media only screen and (max-width: 1250px) {
  .post-container {
    width: 100%;
  }

  .post-content_box {
    width: 85%;
  }

  .post-content_box h2 {
    font-size: 1.4em;
  }

  .post-content_box {
    font-size: 1.5em;
  }
}
