main {
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url("/images/background/Optimized/StockSnap_UIN7XK6I94.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-wrapper {
  display: flex;
  margin-top: 2%;
  justify-content: space-evenly;
}

h1 {
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 30px;
}

.container-wrapper h2,
h2,
h1 {
  font-family: var(--main-font);
  text-transform: uppercase;
}

h1 + p {
  width: 65%;
  margin-top: 0;
}

.about-wrapper {
  font-family: var(--main-font);
  width: 45%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-wrapper p {
  font-size: 1vw;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info > p {
  margin-top: 0;
}

.contact-info > h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding-bottom: 5%;
}

.form-wrapper h2 {
  font-size: 3vw;
  margin-bottom: 5%;
  margin-top: 5%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

.label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  border-radius: 3px;
}

.label-container input {
  border: none;
  border-bottom: solid 2px white;
  color: white;
  height: 5vh;
  font-size: 1vw;
  background: rgba(0, 0, 0, 0);
}

textarea {
  font-size: 1vw;
  font-family: var(--main-font);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: solid 2px white;
  resize: none;
}

/* button */
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.send-btn {
  border: 2px solid white;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 3% 9vw;
  font-family: var(--main-font);
  font-size: 1vw;
  font-weight: var(--heading-text);
  cursor: pointer;
}

.send-btn:hover {
  background-color: black;
}

/* errors and success */

.successMessage {
  border-style: solid;
  border-radius: 5px;
  border-color: darkgreen;
  background-color: lightgreen;
  color: darkgreen;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  font-family: var(--main-font);
}

@media only screen and (max-width: 1400px) {
  h1 + p {
    width: 80%;
  }

  .form-wrapper {
    padding-bottom: 10%;
  }

  .about-wrapper p {
    font-size: 1.3vw;
  }

  .label-container input {
    font-size: 1.3vw;
  }

  textarea {
    font-size: 1.3vw;
  }

  .send-btn {
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1100px) {
  .container-wrapper {
    flex-direction: column;
  }

  .about-wrapper {
    width: 100%;
    margin-bottom: 5%;
  }

  .about-wrapper p {
    font-size: 1.6vw;
  }
  .form-wrapper {
    width: 100%;
  }

  .label-container input {
    font-size: 1.6vw;
  }

  textarea {
    font-size: 1.6vw;
  }

  .send-btn {
    font-size: 1.6vw;
  }

  main {
    padding-bottom: 0%;
  }

  .contact-info > h3 {
    font-size: 1.8vw;
  }

  form {
    width: 60%;
  }
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 4vw;
  }

  .about-wrapper p {
    font-size: 2.3vw;
  }

  .contact-info > h2 {
    font-size: 2.8vw;
  }

  .form-wrapper h2 {
    font-size: 4vw;
  }

  .label-container input {
    font-size: 2.3vw;
  }

  textarea {
    font-size: 2.3vw;
  }

  .send-btn {
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 2em;
  }

  .about-wrapper p {
    font-size: 0.9em;
  }

  .contact-info > h2 {
    font-size: 1.2em;
  }

  .form-wrapper h2 {
    font-size: 5vw;
  }

  .label-container input {
    font-size: 0.9em;
  }

  textarea {
    font-size: 0.9em;
  }

  .send-btn {
    font-size: 0.9em;
  }
}
