/* Hero image */
.hero-img_container {
  display: flex;
  justify-content: flex-end;
  width: 99%;
}

.hero-img_box {
  width: 50%;
  margin-right: 5.5%;
}

.hero-img {
  width: 100%;
}
/* Slider */

.slider-wrapper {
  display: flex;
  font-family: var(--main-font);
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 7%;
}

.blog-itm-box {
  width: 18%;
  border-radius: 5px;
  background: #212121;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.blog-itm-box:hover {
  background: var(--page-color);
}

.blog-itm-box h3 {
  font-size: 1.1vw;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.slider-img_box {
  margin: auto 0 -0.4rem 0;
  width: 98%;
}

.slider-img {
  width: 100%;
}

.fa-caret-right {
  display: flex;
  align-items: center;
  font-size: 3vw;
  margin-right: 30px;
  color: #000;
  cursor: pointer;
}

.fa-caret-left {
  display: flex;
  align-items: center;
  font-size: 3vw;
  margin-left: 30px;
  color: #000;
  cursor: pointer;
}

/* popular and whats new section*/
.filtered-container {
  display: flex;
  margin: 0 auto;
  margin-top: 8%;
}

.filtered-container a {
  text-decoration: none;
}

.popular-content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 8%;
}

.new-content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 8%;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  font-family: var(--main-font);
  padding: 15px 10px;
  border-radius: 5px;
  background: #212121;
  box-shadow: var(--box-shadow);
}

.content-box:hover {
  background: var(--page-color);
}

.content-box h4 {
  font-size: 1.2vw;
  margin: 0;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 1vw;
}

.filtered-img {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1100px) {
  .cards-container {
    gap: 4%;
  }
  .blog-itm-box {
    width: 20%;
  }

  .blog-itm-box h3 {
    font-size: 1vw;
  }

  .new-content_wrapper {
    padding: 10% 8%;
  }

  .filtered-container {
    flex-wrap: wrap;
  }

  .content-box {
    margin-top: 5%;
  }

  .content-box h4 {
    font-size: 2.6vw;
  }

  .content-box p {
    font-size: 2vw;
  }

  .fa-caret-left {
    font-size: 4vw;
    margin-left: 20px;
  }

  .fa-caret-right {
    font-size: 4vw;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .heading-txt {
    font-size: 1.5em;
  }

  .content-box h4 {
    font-size: 1.1em;
  }

  .content-box p {
    font-size: 0.9em;
  }
}
