.h3-section_heading {
  text-align: center;
  font-family: var(--main-font);
  margin: 3% 3%;
}

/* Hero image */
.hero-img_container {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.hero-img_box {
  width: 50%;
  margin-right: 5.5%;
}

.hero-img {
  width: 100%;
}
/* Slider */

.heading-txt {
  font-size: 2.5em;
  margin: 8% 0 5%;
  text-align: center;
  font-family: var(--header-font);
}

.slider-wrapper {
  display: flex;
  font-family: var(--main-font);
  margin-bottom: 100px;
  font-size: 1.2em;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.blog-itm-box {
  width: 18%;
  border-radius: 5px;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.blog-itm-box:hover {
  background: var(--page-color);
}

.blog-itm-box p {
  max-width: 600px;
  width: 85%;
  margin: 0 auto;
  padding: 10px 0px 10px;
}

.slider-img_box {
  position: relative;
  left: 25px;
  margin: auto 0 0.5rem 0;
}

.slider-img {
  width: 100%;
}

.fa-caret-right {
  display: flex;
  align-items: center;
  font-size: 3em;
  margin-right: 30px;
  color: #000;
}

.fa-caret-left {
  display: flex;
  align-items: center;
  font-size: 3em;
  margin-left: 30px;
  color: #000;
}

/* popular and whats new section*/
.filtered-container {
  display: flex;
  margin: 0 auto;
  margin-top: 8%;
}

.filtered-container a {
  text-decoration: none;
}

.popular-content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 8%;
}

.new-content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 8%;
}

.filtered-container h3 {
  font-family: var(--main-font);
  font-size: 2.5em;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  font-family: var(--main-font);
  padding: 15px 10px;
  border-radius: 5px;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
}

.content-box:hover {
  background: var(--page-color);
}
.content-box h4 {
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 1.2em;
}

.filtered-img {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1624px) {
  .hero-img_box {
    margin-right: 2.5%;
  }

  .heading-txt {
    margin: 7% 0 5%;
  }

  .slider-wrapper {
    font-size: 1.1em;
  }

  .blog-itm-box {
    width: 20%;
  }

  .blog-itm-box p {
    width: 90%;
  }

  .content-box h4 {
    font-size: 1.3em;
  }

  .content-box p {
    font-size: 1.1em;
  }

  .slider-img_box {
    left: 15px;
  }
}

@media only screen and (max-width: 1280px) {
  .slider-wrapper {
    font-size: 0.9em;
  }

  .slider-box {
    font-size: 0.8em;
  }

  .fa-caret-right {
    margin-right: 25px;
  }

  .fa-caret-left {
    margin-left: 15px;
  }

  .card-container {
    gap: 3%;
  }

  .content-box p {
    font-size: 0.9em;
  }

  .content-box h4 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 1125px) {
  .content_container h3 {
    font-size: 1.8em;
  }
  .slider-box {
    font-size: 0.8em;
    gap: 4%;
  }

  .fa-caret-left {
    margin-left: 10px;
  }

  .blog-itm-box {
    width: 20%;
  }

  .slider-img_box {
    left: 12px;
  }

  .fa-caret-right {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 990px) {
  img {
    border: solid 3px var(--border-color);
  }

  .heading-txt {
    margin: 10% 0 3%;
    font-size: 1.8em;
  }

  .slider-wrapper {
    font-size: 0.7em;
    margin-bottom: 45px;
  }

  .filtered-container {
    margin-top: 10%;
  }

  .filtered-container h3 {
    font-size: 1.8em;
  }

  .content-box h4 {
    font-size: 0.9em;
  }

  .content-box p {
    font-size: 0.7em;
  }
}
