.specific-post_wrapper {
  margin-top: 5%;
  font-family: var(--main-font);
  display: flex;
  justify-content: space-around;
}

.post-specific-content {
  max-width: 51.9%;
  padding-top: 2%;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
}

.post-header_img {
  width: 90%;
  align-self: center;
}

.post-header_img img {
  width: 100%;
}

.post-specific-content h2 {
  font-size: 2em;
  margin-bottom: 0;
  margin-left: 5%;
}

.post-specific-content p {
  max-width: 90%;
  font-size: 1.5em;
}

.content_text-box {
  margin-top: 1%;
}

.content_text-box p {
  margin: 0 auto;
}

.post-sidebar {
  width: 20%;
  padding-top: 1.5%;
  display: flex;
  flex-direction: column;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
}

.post-sidebar h2 {
  font-size: 3em;
  margin: 0;
  margin-left: 9%;
}

.post-sidebar h3 {
  font-size: 2em;
  margin-bottom: 0;
  margin-left: 10%;
}

.author-img {
  width: 80%;
  align-self: center;
}

.author-img img {
  width: 100%;
}

.post-sidebar p {
  font-size: 1.6em;
  margin-top: 0;
  align-self: center;
  width: 80%;
}

@media only screen and (max-width: 1920px) {
  .post-specific-content p {
    font-size: 1.1em;
  }

  .post-specific-content h2 {
    font-size: 1.5em;
  }

  .post-sidebar h2 {
    font-size: 2em;
  }

  .post-sidebar h3 {
    font-size: 1.5em;
  }

  .post-sidebar p {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 1280px) {
  .post-sidebar h2 {
    font-size: 1.5em;
  }
}
