@import url("/css/import/variables.css");

body,
html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 51px auto 20% 50px;
  grid-template-areas:
    "home home home"
    "contact main about"
    "contact footer about"
    "blog blog blog ";
}

main {
  grid-area: main;
  background-color: var(--page-color);
  color: var(--text-color);
  padding-bottom: 10%;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-family: var(--main-font);
  font-size: 1.5em;
  margin-bottom: auto;
  padding-bottom: 80px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.social-container {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
}

.social-txt_box {
  flex-basis: 100%;
  margin-left: 7.5%;
}

.footer-txt {
  font-size: 1vw;
  margin-bottom: 0;
}

.api-txt {
  margin-left: 1.5%;
  flex-basis: 80%;
}

.footer_social {
  margin-left: 5%;
  display: flex;
  gap: 25%;
  font-size: 2vw;
}

/* Navigation */
.nav-item {
  background-color: var(--main-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: var(--heading-text);
  font-size: 1.3em;
  padding: 10px;
}

.nav-a {
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  font-size: 1.5em;
}

a {
  color: var(--text-color);
}

.home {
  grid-area: home;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.about {
  grid-area: about;
  writing-mode: vertical-rl;
  position: fixed;
  z-index: 1000;
  height: 100%;
  right: 0px;
  z-index: 9999;
}

.contact {
  grid-area: contact;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  position: fixed;
  z-index: 1000;
  height: 100%;
  left: 0;
  z-index: 9999;
}

.blog {
  grid-area: blog;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
}

.current {
  text-decoration: underline;
}

img {
  border: solid 2px var(--border-color);
}

.homepage-header_txt {
  font-family: var(--header-font);
  font-size: 5.3vw;
  margin: 2% 0 0 7%;
  text-transform: uppercase;
}

.heading-txt {
  font-size: 2.3vw;
  margin: 8% 0 5%;
  text-align: center;
  font-family: var(--header-font);
}

/*Popup Modal */
.popup_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: var(--page-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: -0.5;
  visibility: hidden;
  transition: all 0.35s ease-in;
  z-index: 9999;
}

.modal-visible {
  visibility: visible;
  opacity: 1;
}

.modal_items {
  border-radius: 5px;
  background: var(--main-color);
  cursor: default;
}

.modal_items > * {
  padding: 1rem;
  display: flex;
}

.modal-image {
  align-self: center;
}

/* CTA */
.cta-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 1vw;
  width: 300px;
  height: 130px;
}

.cta a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  letter-spacing: 2px;
  cursor: pointer;
}

.cta span {
  position: relative;
  z-index: 3;
}

.cta a::before {
  content: "";
  background-color: var(--page-color);
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.cta a:hover::before {
  transform: scaleY(0);
}

.cta a::after {
  content: "";
  position: absolute;
  background-color: var(--page-color);
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.cta a:hover::after {
  transform: scaleX(0);
}

/* hide element */
.hide-element {
  display: none;
}

.hidden {
  visibility: hidden;
}
@media only screen and (max-width: 1100px) {
  .heading-txt {
    font-size: 3.3vw;
    margin: 13% 0 5%;
  }

  .cta {
    font-size: 1.3vw;
  }

  .cta a {
    padding: 15px 30px;
  }

  .social-txt_box {
    margin-left: 11.5%;
  }

  .footer_social {
    font-size: 3vw;
    margin-left: 8%;
  }
  .footer-txt {
    font-size: 1.7vw;
  }

  .api-txt {
    flex-basis: 70%;
  }
}

@media only screen and (max-width: 750px) {
  body {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px auto 100%;
    grid-template-areas:
      "home blog contact about"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
  }

  main {
    grid-area: main;
  }

  footer {
    padding-bottom: 20px;
  }

  .home {
    grid-area: home;
    position: unset;
    z-index: unset;
    width: unset;
  }

  .about {
    grid-area: about;
    writing-mode: unset;
    position: unset;
    z-index: unset;
    height: unset;
    right: unset;
  }

  .contact {
    grid-area: contact;
    writing-mode: unset;
    transform: unset;
    position: unset;
    z-index: unset;
    height: unset;
    left: unset;
  }

  .blog {
    grid-area: blog;
    position: unset;
    bottom: unset;
    z-index: unset;
    width: unset;
  }

  .nav-item_container {
    display: flex;
  }

  .nav-item {
    height: -webkit-fill-available;
    padding: unset;
    font-size: 2.9vw;
  }

  .nav-item:hover {
    font-size: 1em;
  }

  .cta {
    font-size: 1.9vw;
    width: 170px;
    height: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .homepage-header_txt {
    font-size: 6.7vw;
  }

  .cta {
    font-size: 0.7em;
    width: 194px;
    height: 50px;
  }

  .cta a {
    padding: 10px 25px;
  }

  .footer-txt {
    font-size: 2.5vw;
  }

  .footer_social {
    margin-left: 9%;
    font-size: 5vw;
  }

  .social-txt_box {
    margin-left: 14.5%;
  }

  .api-txt {
    flex-basis: 62%;
  }
}
