@import url("/css/import/variables.css");

body,
html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 51px auto 20% 50px;
  grid-template-areas:
    "home home home"
    "contact main about"
    "contact footer about"
    "blog blog blog ";
}

main {
  grid-area: main;
  background-color: var(--page-color);
  color: var(--text-color);
  padding-bottom: 10%;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-family: var(--main-font);
  font-size: 1.5em;
  padding-bottom: 10%;
}

/* Navigation */
.nav-item {
  background-color: var(--main-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: var(--heading-text);
  font-size: 1.3em;
  padding: 10px;
}

.nav-item a {
  width: 100%;
  color: var(--text-color);
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  font-size: 1.5em;
}

a {
  color: var(--text-color);
}

.home {
  grid-area: home;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.about {
  grid-area: about;
  writing-mode: vertical-rl;
  position: fixed;
  z-index: 1000;
  height: 100%;
  right: 0px;
}

.contact {
  grid-area: contact;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  position: fixed;
  z-index: 1000;
  height: 100%;
  left: 0;
}

.blog {
  grid-area: blog;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
}

.current {
  text-decoration: underline;
}

img {
  border: solid 5px var(--border-color);
}

.page-header_txt {
  font-family: var(--header-font);
  font-size: 4.5em;
  margin: 2% 0 0 7%;
  text-transform: uppercase;
}

/* CTA */
.cta-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 1.4em;
  width: 300px;
  height: 130px;
}

.cta a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  letter-spacing: 2px;
}

.cta span {
  position: relative;
  z-index: 3;
}

.cta a::before {
  content: "";
  background-color: var(--page-color);
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.cta a:hover::before {
  transform: scaleY(0);
}

.cta a::after {
  content: "";
  position: absolute;
  background-color: var(--page-color);
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.cta a:hover::after {
  transform: scaleX(0);
}

@media only screen and (max-width: 1900px) {
  .page-header_txt {
    font-size: 5em;
    margin: 2% 0 0 7%;
  }

  .cta {
    font-size: 1.3em;
  }

  .heading-txt {
    font-size: 2em;
  }
}

@media only screen and (max-width: 1280px) {
  .page-header_txt {
    font-size: 3em;
    margin: 3% 0 0 7%;
  }

  .cta {
    font-size: 1.1em;
    height: 35px;
  }

  .heading-txt {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 990px) {
  .cta {
    font-size: 0.9em;
  }
}
