@import url("/css/import/variables.css");

body,
html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 51px auto 20% 50px;
  grid-template-areas:
    "home home home"
    "contact main about"
    "contact footer about"
    "blog blog blog ";
}

main {
  grid-area: main;
  background-color: var(--page-color);
  color: var(--text-color);
  padding-bottom: 10%;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-family: var(--main-font);
  font-size: 1.5em;
  padding-bottom: 10%;
}

/* Navigation */
.nav-item {
  background-color: var(--main-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: var(--heading-text);
  font-size: 1.3em;
  padding: 10px;
}

.nav-item a {
  width: 100%;
  color: var(--text-color);
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  font-size: 2em;
}

a {
  color: var(--text-color);
}

.home {
  grid-area: home;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.about {
  grid-area: about;
  writing-mode: vertical-rl;
  position: fixed;
  z-index: 1000;
  height: 100%;
  right: 0px;
}

.contact {
  grid-area: contact;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  position: fixed;
  z-index: 1000;
  height: 100%;
  left: 0;
}

.blog {
  grid-area: blog;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
}

.current {
  text-decoration: underline;
}

img {
  border: solid 5px var(--border-color);
}

.page-header_txt {
  font-family: var(--header-font);
  font-size: 4.5em;
  margin: 2% 0 0 7%;
  text-transform: uppercase;
}

/* index */

.h3-section_heading {
  text-align: center;
  font-family: var(--main-font);
}

/* Hero image */
.hero-img_container {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.hero-img_box {
  width: 50%;
  margin-right: 5.5%;
}

.hero-img {
  width: 100%;
}
/* Slider */

.heading-txt {
  font-size: 2.5em;
  margin: 4% 0 5%;
  text-align: center;
  font-family: var(--header-font);
}

.slider-wrapper {
  display: flex;
  font-family: var(--main-font);
  margin-bottom: 100px;
  font-size: 1.2em;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.blog-itm-box {
  width: 18%;
  border-radius: 5px;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.blog-itm-box:hover {
  background: var(--page-color);
}

.blog-itm-box p {
  max-width: 600px;
  width: 85%;
  margin: 0 auto;
  padding: 10px 0px 10px;
}

.slider-img_box {
  position: relative;
  left: 55px;
  margin: auto 0 0.5rem 0;
}

.slider-img {
  width: 100%;
}

.fa-caret-right {
  display: flex;
  align-items: center;
  font-size: 3em;
  margin-right: 30px;
  color: #000;
}

.fa-caret-left {
  display: flex;
  align-items: center;
  font-size: 3em;
  margin-left: 30px;
  color: #000;
}

/* CTA */
.cta-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 1.4em;
  width: 300px;
  height: 130px;
}

.cta a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  letter-spacing: 2px;
}

.cta span {
  position: relative;
  z-index: 3;
}

.cta a::before {
  content: "";
  background-color: var(--page-color);
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.cta a:hover::before {
  transform: scaleY(0);
}

.cta a::after {
  content: "";
  position: absolute;
  background-color: var(--page-color);
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.cta a:hover::after {
  transform: scaleX(0);
}

/* popular and whats new section*/
.filtered-container {
  display: flex;
  margin: 0 auto;
  margin-top: 8%;
}

.filtered-container a {
  text-decoration: none;
}

.popular-content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 8%;
}

.new-content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0% 8%;
}

.filtered-container h3 {
  font-family: var(--main-font);
  font-size: 2.5em;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  font-family: var(--main-font);
  padding: 15px 10px;
  border-radius: 5px;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px, rgba(0, 0, 0, 0.12) 0px -15px 30px, rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 5px;
}

.content-box:hover {
  background: var(--page-color);
}
.content-box h4 {
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 1.2em;
}

.filtered-img {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1900px) {
  .page-header_txt {
    font-size: 5em;
    margin: 2% 0 0 7%;
  }

  .heading-txt {
    font-size: 2em;
  }
  /* INDEX */
  .slider-box {
    font-size: 1em;
    gap: 4.5%;
  }

  .blog-itm-box {
    width: 18%;
  }

  .fa-caret-left {
    margin-left: 15px;
  }

  .fa-caret-right {
    margin-right: 15px;
  }

  .cta {
    font-size: 1.3em;
  }

  .content_container h3 {
    font-size: 2em;
  }
  .content-box h4 {
    font-size: 1.5em;
    margin: 0;
  }

  .content-box p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1280px) {
  .page-header_txt {
    font-size: 3em;
    margin: 3% 0 0 7%;
  }
  /* INDEX */
  .cta {
    font-size: 1.1em;
    height: 35px;
  }

  .heading-txt {
    font-size: 1.8em;
  }

  .slider-box {
    font-size: 0.9em;
  }

  .content-container {
    font-size: 1.8em;
  }

  .content-box p {
    font-size: 0.9em;
  }

  .content-box h4 {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 1125px) {
  /*INDEX*/
  .content_container h3 {
    font-size: 1.8em;
  }
  .slider-box {
    font-size: 0.8em;
    gap: 4%;
  }

  .fa-caret-left {
    margin-left: 10px;
  }

  .blog-itm-box {
    width: 20%;
  }

  .fa-caret-right {
    margin-right: 10px;
  }
}
